{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Create Product</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
</form>
</div>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        padding: 20px;
        border-radius: 8px;
        background-color:rgb(224, 224, 224);
        width: max-content;
        min-width: 300px;
    }
</style>
{% endblock %}
