{% extends "base.html" %}

{% block title %}Shop erstellen{% endblock title %}

{% block content %}
<div class="container">
<h1>Shop Registrieren</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="password" name="one-time-password" placeholder="Einmaliges Passwort (vom Admin)">
    <button type="submit">Registrieren</button>
</form>
</div>
<footer>
    {% load static %}
<!-- Logo unten links -->
<div style="position: fixed; bottom: 10px; left: 10px;">
    <a href="/">
        <img src="{% static 'main/logo.png' %}" alt="Logo" style="height: 100px;">
    </a>
</div>

</footer>
{% endblock %}
