{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="content-wrapper">
    <h2 style="text-align: center; color: #2b6cb0;">Über die 8. Klasse</h2>
    <section style="display: flex; flex-direction: column; align-items: center; background-color:rgb(214, 214, 214); border-radius: 10px; padding: 20px; margin: 20px;">
        <p style="color: #4a5568;">Wir sind die 8. Klasse des <a href="https://www.derksen-gym.de/">Derksen-Gymnasiums</a> in München.</p>
        <p style="color: #4a5568;">Wir sind eine Gemeinschaft von {{ schueler }} Schüler*innen.</p>
    </section>
    {% if user.is_authenticated %}
    <section style="display: flex; flex-direction: column; align-items: center; background-color:rgb(214, 214, 214); border-radius: 10px; padding: 20px; margin: 20px;">
        <p style="color: #4a5568;">Willkommen zurück, {{ user.username }}!</p>
        <p style="color: #4a5568;">Hier sind deine Shops:</p>
        <ul>
           
            {% if user.is_superuser %}
            {% for shop in marker_shops %}
            <a href="{% url 'Shop' shop.shop.id %}">{{ shop.display_name }} Home</a> / <a href="{% url 'ShopSettings' shop.shop.id %}">Settings</a>
            <br>
            {% endfor %}
            {% else %}
            {% for shop in user_shops %}
                <a href="{% url 'Shop' shop.id %}">{{ shop.name }} Home</a> / <a href="{% url 'ShopSettings' shop.id %}">Settings</a>
                <br>
            {% endfor %}
            {% endif %}

        </ul>
        <p style="color: #4a5568;">Oder erstelle einen neuen Shop:</p>
        <a href="{% url 'createShop' %}" style="color: #2b6cb0; text-decoration: underline;">Neuen Shop erstellen</a>
    </section>
    {% endif %}
</div>
{% endblock %}