{% extends "base.html" %}

{% block title %}Pay Screen{% endblock title %}
{% block content %}

</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Anzahl</th>
    <th>Produkt</th>
    <th>Einzelpreis</th>
    <th>Total</th>
  </tr>
{% for product in order.orderitem_set.all %}
  <tr>
    <td>{{ product.quantity }}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{ product.price * product.quantity }}</td>
</td>
  </tr>
{% endfor %}

</table>
<script>
function connectSocket() {
socket = new WebSocket("ws://" + window.location.host + "/ws/pay_screen/");

socket.onopen = function() {
    //alert("Connected to live server");
};

socket.onclose = function() {
    alert("Disconnected from live server");
};

socket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const ordersDiv = document.getElementById("orders");

    if(data.orders) {
        ordersDiv.innerHTML = "";
        data.orders.forEach(order => {
            const items = order.items.map(i => `${i.quantity} x ${i.name}`).join(", ");
            const orderHtml = `
            <div class="order" id="order-${order.id}">
                <p>${order.customer_id}: ${order.price}€</p>
                <p>${items}</p>
                <form method="post" action="/pay/${order.id}/" class="delete-order-form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button type="submit">Delete Order ${order.id}</button>
                </form>
            </div>`;
            ordersDiv.innerHTML += orderHtml;
        });
        
    }
}
};   
connectSocket()
</script>
{% endblock %}